@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AUSUMediaSite.EF.tbEqInfo

@{
    ViewBag.Title = "编辑";
}
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: '/common/GetCommons?tag=2',
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                $.each(data.Data, function (key, d) {
                    var s = '<option value="' + d.Value + '">' + d.Display + '</option>'
                    $('#EqTypeID').append(s);

                });
                var curvalue = $("#currentEqTypeID").val();
                $("#EqTypeID").val(curvalue);
            }
        });
    });
</script>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading no-collapse">编辑设备信息</div>

            <form id="frm" method="post" class="form-horizontal" action="~/eqinfo/edit">
                
                <div class="form-group">
                    <label class="col-lg-4 control-label"><span class="input_required"></span>设备SN：</label>
                    <div class="col-lg-4">
                        <input type="text" readonly class="form-control" name="sn" id="sn" value="@Model.sn" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-4 control-label"><span class="input_required"></span>设备类别：</label>
                    <div class="col-lg-1">
                        <select id="EqTypeID" name="EqTypeID" class="form-control">
                        </select>
                    </div>                  
                </div>

                <input type="hidden" id="id" name="id" value="@Model.ID" />
                <input type="hidden" id="currentEqTypeID" value="@Model.EqTypeID"/>
                <div class="form-group">
                    <label class="col-lg-4 control-label"></label>
                    <div class="col-lg-4">
                        <button type="submit" id="submit1" class="btn btn-primary">保存</button>
                        <a id="btnBack" href="~/EqInfo/Index" class="btn btn-md btn-warning">取消</a>
                    </div>
                </div>
            </form>
    </div>
</div>
