@{
    ViewBag.Title = "设备列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int seqNumber = ViewBag.SeqNumber;
}
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<AUSUMediaSite.EF.tbEqInfo>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading no-collapse">设备列表</div>
        <table class="table table-bordered">
            <tr>
                <th>#
                </th>
                <th>设备SN
                </th>
                @*<th>IP地址
                </th>*@
                <th>分类
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @seqNumber
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sn)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.IPAddress)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.tbCommon.Name)
                    </td>

                    <td>
                        <a href="/EqInfo/Edit/@item.ID"><i class="fa fa-pencil"></i></a>
                    </td>
                </tr>
                seqNumber++;
            }

        </table>
        
    </div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>

