<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />    
    @*<link href="~/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/plugins/css" rel="stylesheet" type="text/css">
    <link href="~/assets/plugins/premium.css" rel="stylesheet" />
    <link href="~/assets/plugins/theme.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />*@
     <link href="~/assets/css/default.css" rel="stylesheet" type="text/css">
    <script src="~/assets/plugins/jquery-1.10.2.js"></script>
     <script src="~/assets/plugins/jquery.validate.js"></script>
    <script src="~/assets/plugins/bootstrap/bootstrap.min.js"></script>


<style>

</style>

</head>

<body class="loginPageBody">
   @* <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <span class="navbar-brand"><span class="fa fa-paper-plane"><img style="height:30px;" src="~/Assets/img/logo.png"/></span></span>
        </div>

        <div class="navbar-collapse collapse" style="height: 1px;">
        </div>
    </div>*@



    <div class="LoginWrapbg">
        @RenderBody()
    </div>

    
</body>
</html>
