@{
    ViewBag.Title = "设备类别列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AUSUMediaSite.EF.tbCommon


<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading no-collapse">新增设备类别</div>

        <div class="row">
            <form id="frm" method="post" class="form-horizontal" action="~/common/EqTypeCreate">
                <div class="form-group">
                    <label class="col-lg-4 control-label"><span class="input_required"></span>类别名称：</label>
                    <div class="col-lg-4">
                        <input type="text"  class="form-control" name="Name" id="Name"  />
                    </div>
                </div>

             
                <div class="form-group">
                    <label class="col-lg-4 control-label"></label>
                    <div class="col-lg-4">
                        <button type="submit" id="submit1" class="btn btn-primary">保存</button>
                        <a id="btnBack" href="~/Common/EqTypeList" class="btn btn-md btn-warning">取消</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
