@import 'common.css';/**基础样式**/

/*通用布局*/
body { background:#f9f9f9; }
.loginPageBody{ background:url(../img/loginbodybg.jpg) repeat-x left center #d6dedf;}
.LoginWrapbg{ background:url(../img/loginimgbg.jpg) no-repeat center center; height:100%;}
.dialogBody { background-color: #f9f9f9; }
body.z-body-index { }
body.z-body-list { background:#f9f9f9 url(zvingclassic/col_shadow2.gif) repeat-y left; }
body.z-body-detail { background:#eeeeee url(zvingclassic/col_shadow3.gif) repeat-y left; }
.js_layoutTable{ table-layout:fixed;}
.js_layoutTable tr{ vertical-align:top;}

.loginBar {
	width: 345px;
	padding-top: 90px;
	padding-left: 50px;
	font-size:14px;
}
.fieldWrap {
	text-align: left;
	width: 300px;
	height: 30px;
	padding-top: 10px;
	overflow: hidden;
}
.lable {
	padding-top: 3px;
	width: 90px;
	float: left;
	color: #333333;
	font-size: 14px;
	text-align: right;
}
.inputWrap {
	background: url(../img/loginInputWrapbg.gif) no-repeat left top;
	height: 28px;
	line-height: 16px;
	border: none;

	float: left;
}
.selectWrap {
	background: url(../img/loginSelectWrapbg.gif) no-repeat left top;
}
.verifyCodeWrap {
	display: none;
}
.verifyCode {
	float: left;
}
.verifyCodeWrap .inputWrap {
}
.welcome {
	color: #2477b3;
	font-family: "微软雅黑", Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 6px 0;
	padding-top: 5px;
	padding-left: 20px;
	letter-spacing: 1px;
	text-align:center;
}
.copyright {
	padding-top: 10px;
	text-align: center;
}
img {
	vertical-align: middle;
}
input.inputText {
	background: transparent none;
	border: none;
	margin-top: 3px;
	_margin-top: 1px;
}
.inputWrap .inputText {
	width: 192px;
	height: 20px;
	font-size: 14px;
	padding-left: 6px;
	margin-top: 0px;
	padding-top: 4px;
}
input.inputTextHover {
	background: transparent none;
	border: none;
}
input.inputTextFocus {
	background: transparent none;
	border: none;
}
input[type="text"]:hover, input[type="password"]:hover {
	background: transparent none;
	border: none;
}
input[type="text"]:focus, input[type="password"]:focus {
	background: transparent none;
	border: none;
}
#loginBtnWrap {
	padding: 12px 0px 10px 130px;
	width: 100px;
}
#Language_textField, #skin_textField {
	background: transparent none;
	color: #369;
	border: 0;
}
#Language_outer .z-combox-spinner, #skin_outer .z-combox-spinner {
	background:transparent;
	border:none;
}
#Language_outer .z-combox-spinner b, #skin_outer .z-combox-spinner b {
	border-top-color:#888;
}
#loginBtn {
	background: url(../img/loginbtn.gif) no-repeat 0 0;
	width: 100px;
	height: 34px;
	color: #ffffff;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	word-spacing: 1px;
	letter-spacing: 6px;
}
.loginLogo {
	width: 360px;
	height: 45px;
	margin: 0 auto;
	background: url(../img/logo_login.png) no-repeat ;
 _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/logo_login.png', sizingMethod = 'scale' );
	_background: none;
}
label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
        color:red;
	}

.alert-danger {
color: #a94442;
background-color: #f2dede;
border-color: #ebccd1;
}
.alert {
padding: 15px;
margin-bottom: 20px;
border: 1px solid transparent;
border-radius: 4px;
}
