@{
    ViewBag.Title = "设备在播视频";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int seqNumber = ViewBag.SeqNumber;
}
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<AUSUMediaSite.EF.tbEqMediaInfo>

<script type="text/javascript">
    $(document).ready(function () {
        $("#checkAll").click(function () {
            var checked_status = this.checked;
            $("input[name='box']").each(function () {
                if (checked_status) {
                    $(this).prop("checked", true);
                }
                else {
                    $(this).removeAttr('checked');
                }
            });
            
        });
        $(".btn-primary").click(function () {
            var subIds = '';
            $("[type='checkbox'][name='box']:checked").each(function () {
                subIds += $(this).val() + ",";
            });
            //alert(subIds);  
            var url = "/EqMedia/DeleteBatch";
            $.ajax({
                type: 'POST',
                contentType: "application/x-www-form-urlencoded;charset=utf-8",
                url: url,
                data: { ids: subIds },
                dataType: "text",
                //成功后  
                success: function (msg) {
                    //alert(subIds + " 删除成功！");
                },
                //完成后  
                complete: function () {
                    $("[name = 'checkbox']").attr('checked', false);//取消选择  
                    location.reload();//刷新  
                }
            });


        });
    });
</script>

<div class="row">
    <div class="btn-toolbar list-toolbar">
        <a href="#" class="btn btn-primary"><i class="fa fa-trash-o"></i>删除视频</a>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading no-collapse">设备在播视频</div>
        <table class="table table-bordered">
            <tr>
                <th>
                    <input type="checkbox" id="checkAll" >
                </th>
                <th>#
                </th>
                <th>设备SN
                </th>
               
                <th>视频文件
                </th>
            </tr>
           
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" value="@item.ID" name="box">
                    </td>
                    <td>
                        @seqNumber
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tbEqInfo.sn)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.tbMediaInfo.MediaUrl)
                    </td>                                        
                </tr>
                seqNumber++;
            }

        </table>
    </div>
    @Html.PagedListPager(Model, page => Url.Action("EqOnlieMediaList", new { page,id=ViewBag.id }))
</div>

