@{
    Layout = "~/Views/Shared/_LayoutLogOn.cshtml";
}
@model AUSUMediaSite.EF.tbUser
@{
    ViewBag.Title = "用户登录";
}



<!-- Demo page code -->

<script type="text/javascript">
    $(function () {
        var match = document.cookie.match(new RegExp('color=([^;]+)'));
        if (match) var color = match[1];
        if (color) {
            $('body').removeClass(function (index, css) {
                return (css.match(/\btheme-\S+/g) || []).join(' ')
            })
            $('body').addClass('theme-' + color);
        }
        try
        {
            $('[data-popover="true"]').popover({ html: true });
        }
        catch (e)
        {
        }

    });
</script>
<style type="text/css">
    #line-chart
    {
        height: 300px;
        width: 800px;
        margin: 0px auto;
        margin-top: 1em;
    }

    .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover
    {
        color: #fff;
    }
</style>

<script type="text/javascript">
    $(function () {
        var uls = $('.sidebar-nav > ul > *').clone();
        uls.addClass('visible-xs');
        $('#main-menu').append(uls.clone());
    });
</script>

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<!-- Le fav and touch icons -->



<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->

<!--<![endif]-->

<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="" href="index.html"><span class="navbar-brand">ASUS</span></a>
    </div>

    <div class="navbar-collapse collapse" style="height: 1px;">
    </div>
</div>

<div class="dialog">
    <div class="panel panel-default">
        <p class="panel-heading no-collapse">系统登录</p>
        <div class="panel-body">
            <form id="frm" method="post" class="form-horizontal" action="/Home/Logon">
                <div class="form-group">
                    <label>用户名</label>
                    <input type="text" name="UserName" class="form-control span12">
                </div>
                <div class="form-group">
                    <label>密码</label>
                    <input type="password" name="Password" class="form-controlspan12 form-control">
                </div>
                <input type="submit" class="btn btn-primary pull-right" value="登录"/>
                
                <div class="clearfix"></div>
            </form>
        </div>
    </div>

</div>
